[submodule ".vim/bundle/powerline"]
	path = .vim/bundle/powerline
	url = https://github.com/Lokaltog/vim-powerline
[submodule ".vim/bundle/fugitive"]
	path = .vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/vim-pathogen"]
	path = .vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule ".vim/bundle/gundo"]
	path = .vim/bundle/gundo
	url = http://github.com/sjl/gundo.vim.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/vim-latex"]
	path = .vim/bundle/vim-latex
	url = git://vim-latex.git.sourceforge.net/gitroot/vim-latex/vim-latex
[submodule ".vim/bundle/fortune"]
	path = .vim/bundle/fortune
	url = https://github.com/hobbestigrou/vimtips-fortune
[submodule ".vim/bundle/supertab"]
	path = .vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
