[user]
	email = sebasti@nullri.ch
	name = Sebastian Ullrich
[alias]
	co = checkout
	cA = commit --amend -C HEAD
	st = status -s
[merge]
  conflictStyle = diff3
[pull]
  rebase = true
[rebase]
	autoStash = true
