[core]
	excludesfile = ~/.gitignore
[user]
	email = sebasti@nullrich.de
	name = Sebastian Ullrich
[color]
	ui = auto
[diff]
	guitool = kdiff3
[difftool]
	prompt = false
[alias]
	co = checkout
	aa = commit -a -C HEAD --amend
	pupu = !git pull && git push
	sudopull = !git stash && git pull && git stash pop
	sudopupu = !git stash && git pull && git stash pop && git push
	st = status -s
[merge]
	tool = kdiff3
[sendemail]
	smtpencryption = tls
	smtpserver = smtp.gmail.com
	smtpuser = derkhabarakh@gmail.com
	smtpserverport = 587
